{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}

    <main>
        <div class="mb-5 color-texto">
            <div class="text-center bg-body-tertiary">
                <img class="my-4 img-fluid" src={% static "img/logo.png" %} alt="Logo OGKKE">
            </div>
            <div class="text-center bg-body-tertiary">
                <div class="container py-3">
                    <h1>Okinawa Goju-Ryu Karate-Do Kyokai España<h1>
                    <h2 class="col-lg-8 mx-auto lead">
                        Sensei Ryoichi Onaga, Hansi 10º Dan. Director Técnico OGKKE
                    </h2>
                </div>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem; margin: auto;">
            <div class="card-header text-bg-danger mb-3">
              Error usuario: {{ user.username }}
            </div>
            <div class="card-body">
              <h5 class="card-title">Contraseña incorrecta</h5>
              <p class="card-text">La contraseña introducida no coincide con la del usuario logado</p>
              <a href="{% url 'home' %}" class="btn btn-warning">Ir al inicio</a>
            </div>
          </div>

    </main>

    {% endblock container %}
